<template>
<div class="row">
    <div class="col-12">

      <div class="domain-content row">

        <div v-if="domain" class="col-md-12 text-center">
          <div class="row mt-5">
            <div class="col-md-10 col-centered">
              <b-img center :src="domain.logo" alt="Domain Logo" width="128" class="mb-2"></b-img>
              <b-jumbotron :lead="domain.title || 'Without Title'" class="p-3 mt-5">
                <h4>{{ host }}</h4>
                <br/>
                <div class="row">
                  <div class="col-md-4">
                    <h5>Servers Changed: <code>{{ domain.servers_changed }}</code> </h5>
                  </div>
                  <div class="col-md-4">
                    <h5>SSL Grade: <code>{{ domain.ssl_grade }}</code> </h5>
                  </div>
                  <div class="col-md-4">
                    <h5>Previous SSL Grade: <code>{{ domain.previous_ssl_grade }}</code> </h5>
                  </div>
                  <div class="col-md-4">
                    <h5>Is down: <code>{{ domain.is_down }}</code> </h5>
                  </div>
                </div>
                <br>

                <div v-if="domain && domain.servers" role="tablist">

                  <b-card no-body class="mb-1" v-for="server in domain.servers" :key="server.address">
                    
                    <b-card-header header-tag="header" class="p-1" role="tab">
                      <b-button block href="#" v-b-toggle="'accordion-'+server.address" variant="info">{{server.address}}</b-button>
                    </b-card-header>
                    <b-collapse :id="'accordion-'+server.address" visible accordion="my-accordion" role="tabpanel">
                      <b-card-body>
                        
                        <dl class="row">
                          <dt class="col-sm-3"> SSL Grade </dt>
                          <dd class="col-sm-9">{{ server.ssl_grade }}</dd>

                          <dt class="col-sm-3"> country </dt>
                          <dd class="col-sm-9">{{ server.country }}</dd>

                          <dt class="col-sm-3"> owner </dt>
                          <dd class="col-sm-9">{{ server.owner }}</dd>
                        </dl>

                      </b-card-body>
                    </b-collapse>
                  </b-card>

                </div>

              </b-jumbotron>
            </div>
          </div>
        </div>
        <div v-else class="col-md-12 text-center">
          {{ host }}
        </div>

      </div>
    </div>
  </div>
</template>

<script>
import DomainDataService from "../services/DomainDataService";
export default {
  name: "tutorial",
  data() {
    return {
      host: null,
      domain: null,
      message: '',
      text: `
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
          richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
          brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
          tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
          assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore
          wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
          vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic
          synth nesciunt you probably haven't heard of them accusamus labore VHS.
        `
    };
  },
  methods: {
    analyseDomian(host){
      DomainDataService.analyze(host)
        .then(response => {
          this.domain = response.data;
        })
        .catch(e => {
          console.log(e);
        });
    }
  },
  mounted() {
    this.host = this.$route.params.host;
    this.analyseDomian(this.host);
  }
};
</script>

<style>
  .domain-content {
    min-height: 100vh;
  }
  .col-centered {
    margin: 0 auto;
    float: none;
  }
  .show-history-content {
    min-height: 20vh;
  }
</style>