<template>
  <div class="row">
    <div class="col-12">

      <div class="search-content row">

        <div class="col-sm-8 col-md-6 col-lg-5 col-centered align-self-center">
          <div class="pb-4 text-center">
            <h2>Get domain servers information</h2>
            <p>Get domain info with servers info with whois</p>
          </div>
          <div class="px-4">
            <b-input-group class="mt-3">
              <b-form-input 
                type="text"
                required
                v-model="host"
                name="host"
                placeholder="Enter a domain"
              >
              </b-form-input>
              <b-input-group-append>
                <b-button class="btn btn-info" variant="info" :href="(host ? '/domains/'+host : '#' )">GET INFO</b-button>
              </b-input-group-append>
            </b-input-group>
          </div>
        </div>

        <div v-if="domains.length" class="col-md-12 text-center">
          <h3>History</h3>
          <p class="h1 pb-2"><b-icon icon="chevron-compact-down"></b-icon></p>
          <div class="row">
            <div class="col-md-10 col-centered">
              <b-jumbotron class="p-3" lead="Click on domain for show details">
                <div class="row">
                  <div class="col-md-4" v-for="domain in domains" :key="domain.host">
                    <div>
                      <b-link :to="{ name: 'domain-details', params: { host: domain.host } }" :id="'popover-target-'+domain.host">{{domain.host}}</b-link>
                      <b-popover :target="'popover-target-'+domain.host" triggers="hover" placement="top">
                        <template v-slot:title>{{domain.title}}</template>

                        <b-img center :src="domain.logo" alt="Domain Logo" width="48" class="mb-2"></b-img>
                        SSL Grade: <b>{{ domain.ssl_grade }} </b> <br/>
                        Previous SSL Grade: <b> {{ domain.previous_ssl_grade }}</b> <br/>
                        Servers Changed: <b> {{ domain.servers_changed }}</b> <br/>
                        Is Down: <b> {{ domain.is_down }} </b> 
                      </b-popover>
                    </div>
                  </div>
                </div>
              </b-jumbotron>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import DomainDataService from "../services/DomainDataService";
export default {
  name: "info-domain",
  data() {
    return {
      domains: [],
      host: null
    };
  },
  methods: {
    retrieveDomains() {
      DomainDataService.getAll()
        .then(response => {
          if (response.data && response.data.items) {
            this.domains = response.data.items;
          }
        })
        .catch(e => {
          console.log(e);
        });
    },
    goDetails: function (event) {
      console.log(event)
      this.$router.push({ 'name': 'domain-details', params:{ host: this.host } })
    }
  },
  mounted() {
    this.retrieveDomains();
  },
  updated(){
    var elem = this.$el
    elem.scrollTop = elem.clientHeight;
  },
};
</script>

<style>
  .search-content {
    min-height: 100vh;
  }
  .col-centered {
    margin: 0 auto;
    float: none;
  }
  .show-history-content {
    min-height: 20vh;
  }
</style>