<template>
  <div class="layout">
    <div class="main-content">
      <router-view />
    </div>
  </div>
</template>

<script>

export default {
  name: 'App'
}
</script>

<style>
  .layout {
    background: #d9e6e6;
  }
  .main-content {
    max-width: 1440px;
    margin: 0 auto;
  }
</style>